.searchBlock {
    width: 50%; 
    margin: auto;
    background-color: rgb(135, 9, 253); 
    padding: 15px; 
    height: 40px;
}


.searchInput {
    width: 400px; 
    height: 30px; 
    padding-left: 10px;
}




.buttonSearch {
    background-color: rgb(209, 39, 243); 
    height: 36.5px; 
    width: 80px;
} 




.searchResult {
    width: 52%; 
    margin: auto; 
    height: 750px; 
    background-color: rgb(116, 160, 255);
}





.buttonClearInput {
    width: 35px; 
    height: 35px; 
    margin-left: -36px; /* to move clear button on top of search button to the left */ 
    opacity: 0.5; /* transparent */
}