.scrollToTop {
    cursor: pointer; 
    border-radius: 10px; 
    color: rgb(99, 10, 99); 
    background-color: rgb(205, 143, 206);  
    width: 70px; 
    height: 43px; 
    margin-left: 550px; 
    bottom: 20px; 
    position: fixed;
    z-index: 1; 
    opacity: 0.4; 

}


.scrollToTop:hover {
    background-color: #eaf919;
}


.arrowUp {
    height: 25px;
}