.video-container {
    margin-bottom: 0;
}



iframe.introductionVideo { 
    width: 100%; 
    height: 500px; 
    margin: 0;
    /* z-index: -1; - Ensure the video is behind the content  */
} 




.textToAppear { 
    display: flex; 
    flex-direction: column;
    background-color: red; 
    /* put element in the center of screen - width: 50% + margin: auto */
    width: 50%; 
    margin: auto;

}



.firstToAppear {
    background-color: yellow; 
    height: 100px; 
    padding-top: 15px;
}




.secondToAppear {
    background-color: green; 
    height: 50px; 
    padding-top: 15px;
} 





.popupForm { 
    display: none; /* popup chat hidden (none) by default */ 
    position: fixed;  
    border: 1px solid gray; 
    bottom: 23px;
    right: 28px;
    width: 280px; 
    z-index: 2; 
    height: 350px; 
 
} 




.formPopupContainer {
    height: 329px;
    padding: 10px; 
    background-color: wheat; 
} 



.openPopupChat {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px; 
  z-index: 1; /* to put in front of page and footer */
} 




.closeButton {
    background-color: red; 
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px; /* put button on the form bottom */
    right: 28px;
    width: 280px;
}



/* slider:  */
/* * {box-sizing:border-box}  */

.main-container { 
  display: flex; 
  align-items: center; /* slides and arrows in a row inline */ 
  background-color: red; 
  overflow: hidden;
}


.slider-container { 
    display: flex; 
    flex-direction: row;
    width: 100%; 
    height: 100%;
    position: relative;
    margin: auto; 
    overflow: hidden;
    /* overflow: scroll; */
}



/* Hide the images by default */ 
/* .slideItem {
    display: none;
}  */ 



/* transition: to animate changes in CSS properties over a specified duration 
translate: it is short for transform: translate(x, y) - moves an element horizontally and/or vertically 
300 ms: duration of the transition 
ease-in-out: transition will start slowly, accelerate in the middle, and then slow down again at the end

Other common timing functions include:
linear: Constant speed throughout the transition.
ease-in: Starts slowly and accelerates.
ease-out: Starts quickly and decelerates.
cubic-bezier(n, n, n, n): Allows you to define a custom timing function */


.slideItem {
    /* display: inline-block;  */
    /* width: 230px;  */
    height: 100px;
    /* overflow: hidden; - only 1 current image slide */ 
    transition: translate 300ms ease-in-out/* slow slides move */ 
    
} 



.previous, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(203, 22, 149);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }



/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  


  .slideText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }


/* Four Values: margin: top right bottom left;
Three Values: margin: top right/left bottom;
Two Values: margin: top/bottom right/left;
One Value: margin: all sides; */


  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    /* height: 15px;
    width: 15px; */
    margin: 20px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* .active, .dot:hover {
    background-color: #717171;
  }  */



