.cards { /* this div is under product-items */
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; /* not this it will be all in one line */
    align-items: center;
    margin: 30px;
    /* justify-content: space-between; */
    gap: 20px; 
    width: 100%;
}


.cardContainer {
    width: 30%; /* !!! images in a row */
    display: flex; 
    flex-direction: column; 
    border: 5px solid rgb(180, 178, 178); 
    padding-top: 20px; 
    padding-bottom: 40px;
}


.cardImageBlock { /* image in div to inline text with different image height */ 
    border: 5px solid rgb(156, 162, 157); 
    width: 200px; 
    height: 200px; 
    margin-bottom: 15px; 
    margin-left: 70px;
    overflow: hidden; 
    /* display, align-items, justify-content - to put image from the top to the center of image block) */
    display: flex;
    align-items: center;
    justify-content: center;
  }



.cardImage {
    width: 300px;
}


.cardTextBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  } 



  .cardTitle {
    margin: 10px 10px 10px 10px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 24px; 
    color: #080808; 
    text-align: center;

  } 




  .cardPrice {
    margin-bottom: 60px;
  } 





  .buyButton {
    font-weight: bold; 
    border-radius: 10px; 
    background-color: rgb(176, 116, 232); 
    padding: 10px 65px 15px 65px; /* background of element */
    color:rgb(71, 58, 83); 
    padding-top: 14px; 
    width: 250px;
}



/* the same styles as in buyButton, but additional different color */
.addedProductButton {
    background-color: rgb(232, 116, 157); 
    
}






@media only screen and (max-width: 768px)   { 

  .cardContainer {
    width: 28%; 
    height: 300px;
  }


  .cards {
    max-width: 763px;
  } 

  
  .cardPrice {
    margin-bottom: 20px;
  } 

  
  .cardImageBlock {
    max-width: 100px; 
    max-height: 60px;
    margin-left: 30px;
  }

  .cardImage {
    max-width: 100px;
  }


  .buyButton {
    max-width: 40px; 
    padding-left: 30px; 
    padding-right: 70px;
  }
}