.content {
    margin: 0; 
}

.product-items { /* - without array props */
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; /* not this it will be all in one line */
    align-items: center;
    margin: 30px;
    justify-content: space-between;
    gap: 20px; 
  } 




  .itemBlock {
    width: 25%; /* put 3 items in a row + display: flex + flex-wrap: wrap */ 
    border: 5px solid rgb(156, 162, 157); 
    padding: 15px;
  } 




  .imageBlock { /* image in div to inline text with different image height */ 
    position: relative; 
    border: 5px solid rgb(156, 162, 157); 
    width: 200px; 
    height: 200px; 
    margin-bottom: 15px; 
    margin-left: 55px;
    overflow: hidden; 
    /* display, align-items, justify-content - to put image from the top to the center of image block) */
    display: flex;
    align-items: center;
    justify-content: center;
  }


  
  .itemBlock img {
    width: 100%; 
    margin-bottom: 10px; /* Space between image and text */
    
    
  }


  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  


  
  .itemBlock p {
    margin: 10px 10px 10px 10px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 24px; 
    color: #080808; 
    text-align: center;

  } 


  /* if text overflows, move it to the new line: display: inline-block; + word-wrap: break-word; */
  .product-description {
    color: #000000; 
    margin-bottom: 40px; 
    line-height: 1.8; 
    width: 250px; 
    display: block;
    word-wrap: break-word; 
  }




  .formContainer { 
    display: flex; /* if in child (forms) is display: flex, in parent (formContainer) should be also display: flex */
    flex-direction: row;
    background-image: url('../../assets/images/wall.jpg'); 
    background-repeat: no-repeat; 
    height: 700px; 
    padding-top: 20px; 
    margin-top: 80px; 
    margin-bottom: 80px;
  }
  



  .forms { 
    display: flex; 
    flex-direction: row;
    width: 800px; 
    color: rgb(94, 224, 94); 
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 - transparent form on background image */
    margin: 80px 10px 120px 250px; 
    padding: 20px 20px 60px 20px;
  }


  .registrationForm {
    width: 500px; 
    margin-right: 50px;
  } 



  .formFieldLogin {
    height: 212px;
  }


  .loginForm {
    width: 500px;
  }





  .submitRegistrationButton, .loginButton {
    font-weight: bold; 
    border-radius: 10px; 
    background-color: rgb(94, 224, 94); 
    padding: 15px 105px 15px 65px; /* background of element */
    color:rgb(10, 46, 10);  
    width: 50px;
    margin-top: 20px;
  }