.content {
    margin: 0; 
}

.product-items {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center;
    margin: 30px;
    justify-content: space-between;
    gap: 20px; 
  } 


  .itemBlock {
    width: 25%; 
    border: 5px solid rgb(156, 162, 157); 
    padding: 15px;
  } 


  .imageBlock { 
    position: relative; 
    border: 5px solid rgb(156, 162, 157); 
    width: 200px; 
    height: 200px; 
    margin-bottom: 15px; 
    margin-left: 55px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;

  }


  .itemBlock img {
    width: 100%; 
    margin-bottom: 10px; 

  }


  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  


  .itemBlock p {
    margin: 10px 10px 10px 10px; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 24px; 
    color: #080808; 
    text-align: center;

  } 


  .product-description {
    color: #000000; 
    margin-bottom: 40px; 
    line-height: 1.8; 
    width: 250px; 
    display: block;
    word-wrap: break-word; 
  }


  .formContainer { 
    display: flex; 
    flex-direction: row;
    background-image: url('../../assets/images/wall.jpg'); 
    background-repeat: no-repeat; 
    height: 700px; 
    padding-top: 20px; 
    margin-top: 80px; 
    margin-bottom: 80px;
  }
  


  .forms { 
    display: flex; 
    flex-direction: row;
    width: 800px; 
    color: rgb(94, 224, 94); 
    background-color: rgba(0, 0, 0, 0.7); 
    margin: 80px 10px 120px 250px; 
    padding: 20px 20px 60px 20px;
  }


  .registrationForm {
    width: 500px; 
    margin-right: 50px;
  } 


  .formFieldLogin {
    height: 212px;
  }


  .loginForm {
    width: 500px;
  }


  .submitRegistrationButton, .loginButton {
    font-weight: bold; 
    border-radius: 10px; 
    background-color: rgb(94, 224, 94); 
    padding: 15px 105px 15px 65px; 
    color:rgb(10, 46, 10);  
    width: 50px;
    margin-top: 20px;
  } 


   




  

  

