/* data-theme:
This is a data attribute. Data attributes are custom 
attributes that one can add to HTML elements to store 
arbitrary data. They always start with data-.
In this case, data-theme is used to store the theme 
preference of the user or the application.
'dark':
This is the value of the data-theme attribute. It indicates 
that the element (and potentially its descendants) should be styled using the dark theme.
[data-theme='dark']:
This is a CSS attribute selector. It selects HTML elements 
that have the data-theme attribute with the value 'dark'.
It's used to apply specific CSS rules when the dark theme is active.
Therefore, when you see [data-theme='dark'] in CSS, 
it means "apply these styles to any element that has the data-theme attribute set to 'dark'."

It is a data-theme attribute, 
that when it has the value of dark, the css rules within the selector are applied */

/* data-theme variable with value dark */
/* In index.css add variables: 

body {
    background-color: var(--background-color); 
    color: var(--color); */

[data-theme='dark'] {
    --background-color: black;
    --color: white;
}
