.addedProductBlock { 
    padding: 20px;
    color: rgb(62, 115, 222); 
    background-color: rgb(0, 85, 255);  
    border: 5px solid rgb(180, 178, 178); 
    
}

.cartItem {
    display: flex; 
    flex-direction: row;
    padding: 10px;
    color: rgb(62, 115, 222); 
    background-color: rgb(0, 85, 255);  
    border: 1px solid rgb(3, 3, 3); 
    width: 1100px;
}


.addedProductImage { 
    padding: 10px; 
    background-color: rgb(181, 213, 240); 
    width: 200px;
} 


.addedCardImage {
    width: 150px;
    padding: 15px;
}


.addedProductTitle {
    padding: 10px; 
    color: black; 
    font-weight: bold;
    background-color: rgb(181, 213, 240); 
    width: 400px;

} 

.addedProductPrice {
    padding: 10px 80px 10px 10px; 
    color: black; 
    font-weight: bold;
    background-color: rgb(181, 213, 240); 
    width: 1000px;

}


.deleteFromCart {
    font-weight: bold; 
    border-radius: 10px; 
    background-color: rgb(176, 116, 232); 
    padding: 10px 65px 15px 65px; 
    color:rgb(71, 58, 83); 
    padding-top: 14px; 
    width: 20px; 
    height: 50px; 
    margin: 125px 10px 15px -120px; 
    padding: 10px 70px 10px 30px; 
}



.quantity { 
    position: absolute;
    display: flex; 
    flex-direction: row;
    width: 100px; 
    margin: 70px 10px 10px 692px;
}



.quantityInput {
    width: 35px; 
    background-color: wheat; 
    border: 1.4px solid black;
}



.incrementButton, .decrementButton {
    background-color: aquamarine;
    padding: 5px 10px 5px 10px;
}