.buyButton {
    font-weight: bold; 
    border-radius: 10px; 
    background-color: rgb(176, 116, 232); 
    padding: 10px 65px 15px 65px; /* background of element */
    color:rgb(71, 58, 83); 
    padding-top: 14px; 
    width: 250px;
}







.addToCartElement a:link { /* unvisited link*/
    font-weight: bold; 
    border-radius: 10px; 
    background-color: rgb(176, 116, 232); 
    padding: 10px 15px 15px 15px; /* background of element */
    color:rgb(176, 116, 232); 
    text-decoration: none; 
    margin-top: 20px; 
   
}


.addToCartElement a:visited {
    color: rgb(113, 21, 125); 
    text-decoration: none; 
    margin-top: 20px;
} 


.addToCartElement a:hover {
    color: white; 
    text-decoration: none;
} 


.addToCartElement a:active {
    color: red; 
    text-decoration: underline;
}