.footer {
    text-align: center;
    background-color: #4f75dc; 
    padding-top: 2px; 
    margin-top: 15px;
    width: 100%; 
    height: 105px; 
    position: absolute; /* stick to the bottom */ 

} 

.copyrights {
    padding-left: 15px;
}





@media only screen and (max-width: 768px) {
    .footer {
        max-width: 590px;
    }
}