.filterSortingBlock {
    display: flex; 
    flex-direction: row;
}


ul {
    list-style-type: none;
}


.filterCard {
    background-color: aquamarine; 
    border: 2px solid gray;
    width: 300px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    margin-top: 40px; 
    margin-right: -30px;

} 


.filter {
    background-color: blue;  
    color: white;
    margin: 56px 10px 10px 30px;
    width: 400px; 
    padding: 10px;
    
}



.sorting {
    background-color: blueviolet; 
    color: black;
    margin: 56px 30px 40px 80px;
    width: 400px; 
    height: 170px;
} 

.lowToHigh, .highToLow {
    font-weight: bold; 
    border-radius: 10px; 
    padding: 15px 35px 15px 35px; 
    color:rgb(10, 46, 10);  
    margin: 10px;

}


.sorting .lowToHigh {
    background-color: rgb(255, 0, 200);
}


.filterCategory, .filterColor {
    background: rgb(97, 97, 243); 
    margin: 20px 10px 10px 10px; 
    padding: 5px 10px 40px 15px;
}


.checkboxGroup {
    display: flex; 
    flex-direction: row;
}